[Unit]
Description=Offline Yumrepo Service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=forking
ExecStart=/home/banana/offline-yumrepo/run.sh
ExecStop=//home/banana/offline-yumrepo/stop.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
