[Unit]
Description=Offline Yumrepo Service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=forking
ExecStart=/data/offline-openshift-origin/offline-yumrepo/run.sh
ExecStop=/data/offline-openshift-origin/offline-yumrepo/stop.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
