[Unit]
Description=Offline Registry Service
After=docker.service

[Service]
Restart=always
ExecStartPre=/home/banana/k8s-install-package/offline-registry/pre.sh
ExecStart=/usr/bin/docker start -a offline-registry
ExecStop=/usr/bin/docker stop -t 2 offline-registry

[Install]
WantedBy=local.target
